/* Server Info Page Container */
.server-info-page {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: white;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  
  /* Space below header for content */
  .server-info-container {
    margin-top: 80px;
    padding-left: 20px;
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  